#login{
  width:100%;
  padding:18.5px 0;
  background-color:#4995e4;
  position:absolute;
  bottom:0;
  top:0;
  section{
    height:100%;
    margin:0 percentage(17/750);
    background-color:#fff;
    border-radius:3.5px;
    padding-top:19px;
    box-sizing: border-box;
    .login-bg{
      background:url("/src/imgs/login/login-bg.png") center no-repeat;
      background-size:cover;
      width:percentage(620/750);
      height:174px;
      margin:0 auto;
      position:relative;
      img{
          width:percentage(105/750);
          position:absolute;
          left:50%;
          top:63%;
          margin-left:-0.5*percentage(105/750);

      }
    }
    .input-wrap{
      width:percentage(620/750);
      margin:0 auto;
      display:flex;
      border-bottom:1px solid #cad9e8;
      .icon-wrap{
        position:relative;
        width:percentage(70/620);
        text-align:center;
      }
      i,input{
        line-height:56px;
      }
      i{
        font-size:18px;
        color:#1865b6;
      }
      .mint-field-other{
        right: -10px;
      }
      ::-webkit-input-placeholder { /* WebKit browsers */
        color: #cfd0d1;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #cfd0d1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #cfd0d1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #cfd0d1;
      }
    }
    .input-wrap > .icon-wrap i:after{
      content:'';
      display:inline-block;
      width:1px;
      background-color:#9a9a9a;
      height:20px;
      position:absolute;
      right:0;
      top:18px;
    }
    .mint-button--large{
      width:percentage(620/750);
      margin:36px auto 18px;
    }
    .mint-button--primary{
      background-color:#1865b6;
    }
    p{
      width:percentage(620/750);
      margin:0 auto;
      color:#7695b6;
      a{
        color:#7695b6;
      }
      span{
        a{
          text-decoration:underline;
          color:#0066d2;
        }
      }
    }
  }
}



