#appCard{
  background-color:#fff;
  margin-top:10px;
  padding-bottom:35px;
  .title{
    padding:14px percentage(10/750);
    color:#4e97d9;
    font-size:13px;
    span{
      border-left:3px solid #4e97d9;
      padding-left:percentage(12/750);
    }
  }
  .app-list{
    display:flex;
    flex-wrap:wrap;
    .app{
      margin-top:17.5px;
      width:25%;
      display:flex;
      flex-wrap:wrap;
      text-align:center;
      span,i{
        width:100%;
        font-size:13px;
        color:#535351;
      }
      i{
        font-size:22px;
        margin-bottom:10px;
        color:#f19435;
      }
    }
  }
}
